:root {
	--grid-spacing-vertical: 1rem;
	--danger: var(--form-element-invalid-border-color);
	--danger-inverse: white;
	--success: green;
	--success-inverse: white;
	--card-background-color-light: #18232c;
	--card-background-color-light-hover: #243440;
	--header-background-color: #121212;
}

.danger {
	color: var(--danger);
}

nav {
	padding-left: 1rem;
	padding-right: 1rem;
}

header {
	background-color: var(--header-background-color);

	hgroup,
	p {
		text-align: center;
	}
}

.grid {
	article {
		margin: 0;
		padding-top: 2rem;
		padding-bottom: 2rem;
		box-sizing: border-box;
		display: flex;
		align-items: center;

		p {
			margin-top: 1rem;
			margin-bottom: 0;
		}
	}
}

article {
	&.new {
		justify-content: center;
		background-color: var(--card-background-color-light);
		position: relative;
		transition: background-color 0.2s ease;

		&:focus,
		&:hover {
			background-color: var(--card-background-color-light-hover);
		}

		a {
			width: 100%;
			height: 100%;
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			top: 0;
		}
	}
}

button,
[role='button'] {
	&.small {
		padding: 0.25rem 0.5rem;
		font-size: 0.75rem;
	}

	&.medium {
		padding: 0.5rem 0.75rem;
		font-size: 0.85rem;
	}

	&.danger {
		border-color: var(--danger);
		background-color: var(--danger);
		color: var(--danger-inverse);

		&.outline {
			border-color: var(--danger);
			color: var(--danger);
			background-color: transparent;
		}
	}
}

.hamburger {
	@media (min-width: 768px) {
		display: none;
	}
}

.items-desktop {
	display: none;

	@media (min-width: 768px) {
		display: block;
	}
}

.items-mobile {
	@media (min-width: 768px) {
		display: none;
	}
}

.nav-mobile {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.95);
	top: 0;
	right: 0;
	bottom: 0;
	width: 400px;
	max-width: 70vw;
	transform: translatex(400px);

	&.open {
		transform: translatex(0);
	}

	@media (min-width: 768px) {
		display: none;
	}
}

td.danger {
	color: var(--danger);
}

td.success {
	color: var(--success);
}

h1.icon,
h2.icon {
	display: inline-flex;
	align-items: center;
	gap: 1rem;
}

table p {
	margin-bottom: 0;
}

th,
td {
	white-space: nowrap;
}
